<html>
    <head>
        <title>{$title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
        <script src="/static/js/toknot.js" type="text/javascript"></script>
        <script src="/static/js/admin.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="top-panel">
            <div class="time-bar" id="time-bar"></div>
            <div class="user-nav">Languaage</div>
            <div class="user-nav">{$currentUser}</div>
			{if $currentUser->userName == 'root'}
            <div class="user-nav">Add Controller</div>
			{/if}
        </div>
        <div class="main-warpper">