<!DOCTYPE html>
<html>
    <head>
        <title>{$title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
        <script src="/static/js/toknot.js" type="text/javascript"></script>
        <script src="/static/js/admin.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="top-panel">
			<div class="tk-logo">ToKnot Admin</div>
            <div class="user-nav" id="time-bar"></div>
            <div class="user-nav">Languaage</div>
            <div class="user-nav">{$currentUser}</div>
			
			{if $act == 'list'}
			<div class="opreate-btn"><span class="icon-plus"></span><span>Add</span></div>
			<div class="opreate-btn"><span class="icon-pencil"></span>Edit</div>
			<div class="opreate-btn"><span class="icon-trash"></span>Delete</div>
			<div class="opreate-btn">
					<input type="text" class="search-text"/>
					<span class="icon-search">Search</span>
			</div>
			{/if}
			{if $act == 'edit'}
			<div class="opreate-btn"><span>Retrun</span></div>
			<div class="opreate-btn"><span>Save</span></div>
			{/if}
			
		</div>
		<div class="main-warpper">