<!DOCTYPE html>
<html>
    <head>
        <title>TK</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
        <script src="/static/js/toknot.js" type="text/javascript"></script>
        <script type="text/javascript">
            var _user = "{$currentUser}";
        </script>
        <script src="/static/js/admin.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="top-panel" id="top-panel">
            <div class="tk-logo">ToKnot</div>
            <div class="user-nav" id="time-bar"></div>
            <!--<div class="user-nav icon-after-down-micro">Languaage</div>-->
            <div class="user-nav {if (string)$currentUser != 'nobody'}icon-after-down-micro{/if}" id="user-name">{$currentUser}</div>
			{if (string)$currentUser != 'nobody'}
			<div class="pop-menu" style="display: none;" id="user-menu">
				<ul>	
					<li class="icon-cog"><span action="/User/Profile">Profile</span></li>	
					<li><span action="/User/Logout" refresh="true">Logout</span></li>	
				</ul>
			</div>
			{/if}
            {if $act == 'list'}
            <div class="opreate-btn" action="add">
				<span class="icon-plus"></span><span>Add</span></div>
            <div class="opreate-btn" action="delete">
				<span class="icon-trash"></span><span>Delete</span></div>
            {/if}
            <!--{if $act == 'edit'}-->
            <div class="opreate-btn" action="return">
				<span class="icon-left-open"></span><span>Return</span></div>
            <div class="opreate-btn" action="save"> 
				<span class="icon-floppy"></span><span>Save</span></div>
            <!--{/if}-->

        </div>
        <div class="main-warpper">
