{inc header}
<div class="main-box">
<div class="menu-nav">
    <span class="add-controller-btn">Add Controller</span>	
	<div class="nav-tree">
		<ul class="nav-tree-ul">
			{foreach $navList as $key=>$nav}
			<li class="nav-tree-ul-li"><div class="nav-cat">User Manage</div>
				<ul class="sub-nav-tree">
					<li class="sub-nav-tree-li">User List</li>
					<li class="sub-nav-tree-li">Add User</li>
				</ul>
			</li>
			{/foreach}
			<li class="nav-tree-ul-li"><div class="nav-cat">Manage Log</div>
				<ul class="sub-nav-tree"><li class="sub-nav-tree-li">Log Lists</li></ul>
			</li>
		</ul>
	</div>

</div>
	<div class="page-box"></div>
</div>
{inc footer}