{inc header}
    <div class="login-box">
        <h2>Toknot Admin</h2>
        <div class="login-form">
            <form name="login" method="POST" action="/user/login">
            <p><span>User:</span><input type="text" value="" name="username" class="login-text"></p>
            <p><span>Password:</span><input type="password" name="password" class="login-text"></p>
            <p><button type="submit" value="Login" name="loginButton" class="login-button">Login</button>
                <label><input type="checkbox">remember me</label></p>
            </form>
        </div>
    </div>
{inc footer}